body{
  overflow-x: hidden;
  text-align: center;
}

.container-fluid{
    margin:0 auto;
    width:960px;
}


.more img{
    border-radius: 10%;
    width:200px;
    height:200px;
    justify-content: space-between;
    display: flex;
}

.sec-1{
    height:99vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp8ljeght9NDBI6FaYDGTo6nLdMAcZ_75A8bnGBuInfijsp-icig");
    background-size: cover;
    background-repeat: no-repeat;
    height:99vh;
}
.overlay{
    background-color: #10050061;
    height:99vh;
}

.header{
    padding:300px;
}

h1{
    font-size: 100px;
    color:yellow;
    font-family: 'Lobster Two', cursive;
    border-bottom: 2px solid white;
    border-top: 1px solid white;
    padding:0;
    font-family: 'Vidaloka', serif;
}

.header p{
    font-size: 30px;
    font-family: 'Mansalva', cursive;
    font-weight: bolder;
    color:white;
    
}

h6{
    text-align: center;
    font-size: 70px;
    padding:40px;
    font-family: verdana;
}

.three img{
    align-items:center;
}

#contact{
    padding:30px;
}