body{
  overflow-x: hidden;
    text-align: center;
}

.container-fluid{
    margin:0 auto;
    width:960px;
}

li{
float: left;
  padding:50px;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
}

li a{
    color:#000;
    display: block;
    text-align: center;
    text-decoration: none;
    padding:14px 16px;

}
ul li a:hover{
    color:white;
}
nav{
    /* background-color: #00000069; */
    text-decoration: none;
}


.active{
    background-color: #4CAF50;
}
ul{
    padding:0;
    overflow: hidden;
    margin:0;
    background-attachment: #f1f1f1;
    list-style-type:none;
}
.more img{
    border-radius: 10%;
    width:200px;
    height:200px;
    justify-content: space-between;
    display: flex;
}

.sec-1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp8ljeght9NDBI6FaYDGTo6nLdMAcZ_75A8bnGBuInfijsp-icig~");
    background-size: cover;
    background-repeat: no-repeat;
    height:99vh;
}


.header{
    padding:200px;
}

h1{
    font-size: 150px;
    font-family: Verdana;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.header p{
    font-size: 30px;
    font-family: Verdana;
}

.row{
    padding:100px;
    width:70%;
    box-shadow: 0 10px 20px 10px;
    padding-left: 70px;

}

h6{
    text-align: center;
    font-size: 70px;
    padding:40px;
    font-family: verdana;
}

.three img{
    align-items:center;
}

#contact{
    padding:30px;
}